@model IEnumerable<PedidosUnidad.Models.ProyeccionPedidoClass>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reportPedido</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.solicitar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.licitacion)
            </th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpm)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.solicitar)*@
                @{ int sol = (item.solicitar < 0) ? 0 : item.solicitar;}
                <label>@sol</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licitacion)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
