@model PedidosUnidad.Models.PedidoModel
@{
    Layout = null;
    var cssPath_ = Server.MapPath("~/Content");
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    #contenedor_ {
        width: 1200px;
        margin: auto;
        padding: 5px 12px;
    }
</style>

<link href="@cssPath_/css/graph-vale.css" rel="stylesheet" />
<link href="@cssPath_/css/font-awesome.min.css" rel="stylesheet" />


<link href="~/Content/css/graph-vale.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<div id="contenedor_">
    @Html.Partial("ReportHeader")
    <div class="row" style="margin-top:5px;">
        <div class="col-sm-8">
            <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                <div class="col-sm-12">
                    <label style="color:#777; padding-left: 10px;">Unidad solicitante:</label>
                    <div style="width:100%; height:90px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        @Model.descrip_unidad
                        <div style="width:100%; padding:5px; font-size:12px; line-height:13px;">
                            Domicilio: @Model.domicilio_unidad <br />
                            Colonia: @Model.colonia_unidad, C.P.: @Model.cp_unidad<br />
                            @Model.municipio_unidad, @Model.estado_unidad Tel: @Model.tel_unidad , R.F.C.: @Model.rfc_unidad<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                <div class="col-sm-6">
                    <label style="color:#777; padding-left: 10px;">Pedio:</label>
                    <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        NEGATIVA
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color:#777; padding-left: 10px;">Tipo:</label>
                    <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        <b>VALE @Model.descrip_tipo_vale</b>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                <div class="col-sm-6">
                    <label style="color:#777; padding-left: 10px;">Fecha Vale:</label>
                    <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        @Model.fecha
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color:#777; padding-left: 10px;">Mes/Año:</label>
                    <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        @Model.mes/@Model.anio
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                <div class="col-sm-6">
                    <div class="row" style=" margin-bottom: 15px;">
                        <div class="col-sm-12">
                            <label style="color:#777; padding-left: 10px; font-weight: 600;">Folio:</label>
                            <div style="width:100%; height:40px; border: 1px dashed #444; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px; font-weight: 600;">
                                @Model.folio
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                        <div class="col-sm-12">
                            <label style="color:#777; padding-left: 10px;">Cantidad Claves:</label>
                            <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                                @Model.articulos.Count()
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px; margin-bottom: 15px;">
                        <div class="col-sm-12">
                            <label style="color:#777; padding-left: 10px;">Folio Almacen:</label>
                            <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                                @Model.folio_almacen
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="width:100%; height:137px; border: 1px dashed #444; text-align:center;">
                        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QR))" style="height:135px;" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <label style="color:#777; padding-left: 10px; font-weight: 600;">Documento:</label>
                    <div style="width:100%; height:40px; background:#eee; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                        <b>INSUMOS NO SURTIDOS</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-sm-12">
            <div style="width: 100%; height: 25px; background: #eee; color: #444; padding-top: 3px; font-size: 15px; padding-left: 10px; margin-bottom: 3px; border-bottom: 1px dashed #777;">
                RELACIÓN DE INSUMOS NO SURTIDOS
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @{ int i = 0;}
            @foreach (var item in Model.articulos)
            {
                <div class="row">
                    <div class="col-sm-1">
                        <div style="width:35px; height:35px; background:#eee; color:#444; font-size: 14px; text-align:center; padding-top: 6px; font-weight: 500; border-radius: 6px; margin-top: -1px;">
                            @{ i++;}
                            @i.ToString()
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label style="color:#777; padding-left: 10px;">(@item.presentacion)</label>
                        <div style="width:100%; height:40px; color:#444; padding-top: 15px; margin-top: -18px; font-size: 17px; padding-left: 10px;">
                            @item.clave
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label style="color:#777; padding-left: 1px;">Descripción insumo:</label>
                        <label style="color:#777; float:right; margin-top: 5px;">(Costo Prom $@item.costo_insumo)</label>
                        <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -15px; font-size: 14px; padding-left: 1px; line-height: 13px; padding-bottom: 2px; text-align: justify;">
                            @item.descripcion
                        </div>

                    </div>
                    <div class="col-sm-3 text-right">
                        <div style="float:left; width:33%; padding-right: 10px; border-right: 1px dashed #777;">
                            <label style="color:#777; padding-left: 1px;">Cant Sol:</label>
                            <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -10px; font-size: 22px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                                @item.solicita
                            </div>
                        </div>
                        <div style="float:left; width:33%; padding-right: 10px; border-right: 1px dashed #777;">
                            <label style="color:#777; padding-left: 1px;">Cant Surt:</label>
                            <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -10px; font-size: 22px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                                @item.surtida
                            </div>
                        </div>
                        <div style="float:left; width:32%;">
                            <label style="color:#777; padding-left: 1px;">Cant No Surt:</label>
                            <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -10px; font-size: 22px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                                @{int _noSurtido = item.solicita - item.surtida;}
                                @_noSurtido
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DETALLE LOTES -->
                <!--foreach (var lot_ in item.lotes)
                {
                    if (!string.IsNullOrEmpty(lot_.lote))
                    {
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-7" style="border-top: 1px #ccc dashed;">
                                <div style="width:100%; height: 35px;">
                                    <div style="float:left; padding:3px; width:4%; padding-top: 9px;">
                                        ◉
                                    </div>
                                    <div style="float:left; padding:3px; width:15%;">
                                        <label style="color:#777; padding-left: 1px;">Lote:</label>
                                        <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                           
                                        </div>
                                    </div>
                                    <div style="float:left; padding:3px; width:13%;">
                                        <label style="color:#777; padding-left: 1px;">Caducidad:</label>
                                        <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                            
                                        </div>
                                    </div>
                                    <div style="float:left; padding:3px; width:25%;">
                                        <label style="color:#777; padding-left: 1px;">Programa:</label>
                                        <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                           
                                        </div>
                                    </div>
                                    <div style="float:left; padding:3px; width:17%;">-->
                                        @*<label style="color:#777; padding-left: 1px;">Centro Req:</label>
                                            <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                                NOMBRE CENTRO REQUIRIO
                                            </div>*@
                                    <!--</div>
                                    <div style="float:left; padding:3px; width:13%; text-align: right;">
                                        <label style="color:#777; padding-left: 1px;">Costo:</label>
                                        <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                            
                                        </div>
                                    </div>
                                    <div style="float:left; padding:3px; width:13%; text-align: right;">
                                        <label style="color:#777; padding-left: 1px;">Importe:</label>
                                        <div style="width:100%; height:auto; color:#444;  font-size: 12px; line-height: 12px; margin-top: -3px;">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2 text-right" style="border-top: 1px #ccc dashed;">
                                <div style="float:right; width:49%;">
                                    <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -3px; font-size: 15px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                                        
                                    </div>
                                </div>
                                <div style="float:right; width: 40%; line-height: 11px; padding-top: 7px;">
                                    <label style="color:#777; padding-left: 1px; line-height: 10px;">Cantidad insumo:</label>
                                </div>
                            </div>
                        </div>
                    }


                }-->
                <div style="width:100%; height:5px; border-top: 1px dashed #777;"></div>
            }

            <div class="row" style="display:none;">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5"></div>
                <div class="col-sm-4 text-right" style="">
                    <div style="float:right; width:49%;">
                        <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -3px; font-size: 15px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                            @{decimal importe_v = Convert.ToDecimal(Model.resumen_suma.importe_v);}
                            $@String.Format("{0:0,0.0#}", importe_v)
                        </div>
                        <div style="width:100%; height:auto; color:#444; padding-top: 15px; margin-top: -3px; font-size: 15px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                            @{decimal iva_v = Convert.ToDecimal(Model.resumen_suma.iva_v);}
                            $@String.Format("{0:0,0.0#}", iva_v)
                        </div>
                        <div style="width:100%; height:5px;padding-left:5px;">
                            <div style="width:100%; height:5px; border-bottom:dashed 1px #777;"></div>
                        </div>
                        <div style="width:100%; height:auto; color:#111; padding-top: 15px; margin-top: -3px; font-size: 18px; padding-left: 1px; line-height: 13px; font-weight: bold;">
                            @{decimal total_v = Convert.ToDecimal(Model.resumen_suma.total_v);}
                            $@String.Format("{0:0,0.0#}", total_v)
                        </div>
                    </div>
                    <div style="float:right; width: 40%; line-height: 11px; padding-top: 7px;">
                        <label style="color:#777; padding-left: 1px; line-height: 10px; width:100%; margin-top:5px;">Sub Total:</label>
                        <label style="color:#777; padding-left: 1px; line-height: 10px; width:100%; margin-top:15px;">IVA:</label>
                        <label style="color:#777; padding-left: 1px; line-height: 10px; width:100%; margin-top:17px;">Total:</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @*<div class="row" style="margin-top: 60px;">
            <div class="col-sm-12" style="width: 100%; height: 25px; background: #eee; color: #444; padding-top: 3px; font-size: 13px; padding-left: 10px; margin-bottom: 3px; font-style:italic;">
                <div style="float:left;">* Todos los pedidos vía web tendrán que ser avalados y firmados físicamente por las personas responsables a los procesos involucrados. </div>
                <div style="float:right; color: #111; font-size: 13px;"> COLIMA, COL, @String.Format("{0:ddd dd MMM yyyy HH:mm}", Model.fecha_envio).ToUpper() HRS</div>
            </div>
        </div>*@

    <div class="row" style="margin-top: 60px; page-break-inside: avoid;">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="row" style="margin-top:40px;">
                <div class="col-sm-12 text-center">
                    <div style="width:100%; height:100px; padding-top: 50px;">
                        <div style="">
                            <img src="@cssPath_/img/almacen/FirmanteAlmacenMCL.png" style="width:220px; height:220px;  page-break-inside: avoid;"/>
                        </div>
                        <div style="color: #444; font-weight: bold; font-size: 17px; margin-top: 0px; width: 100%; border-bottom: solid 1px #444; margin-top: -24px;">
                            ING. MIGUEL IGNACIO CHAVOYA LOZA
                        </div>
                        <div style="color: #777; margin-top: 0px;">NOMBRE Y FIRMA</div>
                        <div style="color: #111; font-weight: 600;">Vo.Bo.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="@cssPath_/img/almacen/SelloAlmacenCentral.png" style="width:260px; height:260px; page-break-inside: avoid;"/>
        </div>
    </div>




</div>
