@model PedidosUnidad.Models.AddInsumoForm

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSA</title>
    <link rel="apple-touch-icon" href="~/Content/img/SSAIconWeb.png">
    <link rel="shortcut icon" href="~/Content/img/SSAIconWeb.png">
    <link href="~/Content/css/bootstrap-clearmin.min.css" rel="stylesheet" />
    <link href="~/Content/css/checkmark.css" rel="stylesheet" />
    <link href="~/Content/css/roboto.css" rel="stylesheet" />
    <link href="~/Content/css/material-design.css" rel="stylesheet" />
    <link href="~/Content/css/small-n-flat.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/loading.css" rel="stylesheet" />
    <link href="~/Content/css/cat_row.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>

    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="/Home/Index" class="cm-logo"></a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">

                        <li class="active"><a onclick="go_to_view('/Catalogos/Index');" class="sf-house">Inicio</a></li>

                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=1" class="sf-monitor">Medicamento</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=2" class="sf-layers ">Mat. Curación</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=3" class="sf-funnel">Laboratorio</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=4" class="sf-device-tablet">Radiográfico</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=7" class="sf-folder">Oficina</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=5" class="sf-user-female-alt">Ropería</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=6" class="sf-trashcan-full">Limpieza</a></li>
                        <li class=""><a href="/Catalogos/Catalogo?tipo_insumo=8" class="sf-wrench-screwdriver">Diversos</a></li>

                        <li class=""><a href="javascript:go_to_view('/Login/Index');" class="sf-box-out">Salir</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1 id="content-body-tittle">CATÁLOGO ALMACÉN CENTRAL</h1>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>SSA</strong></a>
                        <a style="cursor:default;"><strong>USUARIO CONSULTA</strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/Login/Index"><i class="fa fa-fw fa-sign-out"></i> Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="global">
        <!-- ==============================================================================================================================   -->
        <!-- LOAD MIESNTRAS CARGA LAS CLAVES-->
        <div id="loader_movil_">
            <div class="ctn-loading">
                <span class="spanin-l"> Procesando</span>
                <span class="spanin-li l-1"></span>
                <span class="spanin-li l-2"></span>
                <span class="spanin-li l-3"></span>
                <span class="spanin-li l-4"></span>
                <span class="spanin-li l-5"></span>
                <span class="spanin-li l-6"></span>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="row">
                <div class="rfix">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:0;">
                        <div class="input-group" style="background:#eee; height:35px; width:100%; margin-top: -5px; padding-top:4px; text-align:center;">
                            @Model.cantidad_claves CLAVES DEL GRUPO @Model.tipo_insumo.ToUpper()
                        </div>
                        <div class="input-group">
                            <input id="buscar_item" type="text" class="form-control" placeholder="Buscar y filtrar..." style="height:35px;">
                            <span class="input-group-btn">
                                <button style="z-index:2; height:35px; " class="btn btn-primary md-search-white" type="button">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
                <div id="ctn_items" class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left: 1px; margin-top:70px;">
                    @{int cvs_existencia = 0; }
                    @foreach (var item in Model.clavesCat)
                    {
                        <div class="itms" onclick="" style="width: 100%; height:auto; border: 1px solid #ddd; padding: 2px; border-radius: 5px; background: #fff;  box-shadow:0 2px 4px rgba(0,0,0,0.05); margin-top:5px; cursor:pointer;">
                            <div style="width:100%; clear:both;">
                                <div style="float:left; height:20px;">@item.clave_txt</div>

                                @*<div style="width: auto; height: 15px; border: 1px solid #78909C; background: #CE93D8; color:#673AB7; margin: 0px 2px 0px 2px; text-align: center; border-radius: 2px; font-size: 10px; float:right; padding-left:2px; padding-right:2px; font-weight: 600;">
                                    EXIS:
                                </div>*@
                            </div>
                            <div style="width:100%; color: #90A4AE; font-family: verdana; font-size: 11px; text-align:justify; line-height: 11px; clear:both; ">
                                @item.descripcion
                                (@item.presentacion_txt)
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
            </div>
            
        </div>
        <!-- ==============================================================================================================================   -->


        <hr />
        <footer class="cm-footer"><span class="pull-left">CONSULTA</span><span class="pull-right">&copy; SSA</span></footer>
    </div>
    <!-- .modal para cambiar password-->
    <div class="modal fade" id="mdl_cambia_pass"> </div>

    <!-- Modal Load Change -->
    <div id="loader_outx_d">
        <div class="ctn-loading">
            <span class="spanin-l"> Procesando</span>
            <span class="spanin-li l-1"></span>
            <span class="spanin-li l-2"></span>
            <span class="spanin-li l-3"></span>
            <span class="spanin-li l-4"></span>
            <span class="spanin-li l-5"></span>
            <span class="spanin-li l-6"></span>
        </div>
    </div>

    <script src="~/Scripts/js/lib/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/js/jquery.mousewheel.min.js"></script>
    <script src="~/Scripts/js/jquery.cookie.min.js"></script>
    <script src="~/Scripts/js/fastclick.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/clearmin.min.js"></script>
    <script src="~/Scripts/js/demo/home.js"></script>

    @*<script src="~/Scripts/js/notification/notifications.js"></script>*@
    <script src="~/Scripts/js/loading.js"></script>
    <script src="~/Scripts/js/demo/popovers-tooltips.js"></script>

    <script>

        window.onbeforeunload = function (event) {
             $("#loader_outx_d").fadeIn("slow");
        }

        $(window).on('load', function () {
            setTimeout(function () {
                //close_loading();
                $("#loader_movil_").css({ visibility: "hidden", opacity: "0" })
            }, 1200);
        });

        $("#buscar_item").keyup(function (e) {
            _this = this;
            $("#ctn_items .itms").each(function (i, e) {
                if ($(this).text().toLowerCase().indexOf(_this.value.toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    </script>

</body>
</html>
